@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSans";
  src: url(./assets/fonts/productsans.ttf);
}

@layer base {
  body {
    @apply font-ProductSans h-screen w-full;
  }
}

@layer components {
  .todo {
    @apply w-full h-full text-[24px] flex;
  }

  .todo-sidebar {
    @apply w-1/4 h-full bg-side-bg border-sb-border border border-solid px-[32px] pt-[50px] pb-[20px] flex flex-col flex-grow-0 shrink-0 justify-between;
  }

  .todo-sidebar ul li {
    @apply transition rounded-[4px] py-[10px] pl-[12px] cursor-pointer w-full hover:bg-zinc-50 hover:bg-opacity-50 hover:translate-x-2 flex items-center justify-between;
  }

  .todo-sidebar ul li.selected {
    @apply bg-white shadow-md cursor-default;
  }

  .close-icon {
    @apply bg-[url("./assets/icons/close.svg")] w-[15px] h-[15px] bg-no-repeat hidden bg-cover mr-[14px] cursor-pointer;
  }

  .todo-sidebar ul li:hover .close-icon {
    @apply block;
  }

  .color-tag {
    @apply w-[15px] h-[15px] rounded-[50%] mr-[10px];
  }

  .add-folder-btn {
    @apply cursor-pointer ml-[10px] outline-none self-start transition hover:scale-110  text-gray before:content-[""] before:inline-block before:bg-no-repeat before:bg-cover before:bg-[url("./assets/icons/add.svg")] before:w-[15px] before:h-[15px] before:mr-[10px];
  }

  .add-folder-form {
    @apply focus:outline-none w-[300px] h-[148px] p-[18px] bg-white rounded-[10px] flex flex-col justify-between shadow-md relative;
  }

  .add-folder-form .color-tag {
    @apply w-[20px] h-[20px] m-0 cursor-pointer;
  }

  .add-folder-form .color-tag.selected {
    @apply border-2 border-black;
  }

  .close-modal-btn {
    @apply bg-[url('./assets/icons/close-modal.svg')] bg-cover bg-no-repeat w-[20px] h-[20px] absolute top-[-5px] right-[-5px];
  }

  .tasks-wrapper {
    @apply h-full w-full flex flex-col pt-[56px] px-[57px];
  }

  .tasks-title {
    @apply text-blue-point text-[32px] font-bold;
  }

  .tasks-item {
    @apply w-full flex items-center h-[30px] mb-[20px];
  }

  .task-btn {
    @apply w-[25px] h-[25px] border-2 border-[#E8E8E8] rounded-[50%] mr-[15px] 
    hover:border-none hover:bg-[#F2F2F2] hover:bg-[url('./assets/icons/complete.svg')]
    bg-70% bg-center bg-no-repeat;
  }

  .task-btn-complete {
    @apply w-[25px] h-[25px] bg-[#4DD599] bg-[url('./assets/icons/complete.svg')] 
    bg-70% bg-center  bg-no-repeat rounded-[50%] mr-[15px];
  }
}

@layer utilities {
}

/* All used styles without layer */
